views/Components/Button/cubeButton.pug
doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="../../../css/Components/Button/cubeButton.css")
    //- link(rel="stylesheet" type="text/css" href="../../../css/Components/Button/buttonv1.css")
    script(src="../../../js/Components/Button/buttonLoader.js")
    script(src="../../../js/Components/Button/cubeButton.js")

    title Cube Button
  body
    div.container

      div.box-holder
        div.box
          div.box-face#face-back
            div.face-content
              div.confirm-holder
                div.confirm
                  span Yes
                div.confirm
                  span No
          div.box-face#face-right
            div.face-content
              span You did not delete :-(
          div.box-face#face-top
            div.face-content
              span 
          div.box-face#face-left
            div.face-content
              span Deleted
          div.box-face#face-bottom
            div.face-content
              span
          div.box-face#face-front
            div.face-content
              span Delete

      div.box-holder.hidden
        //- each value in ["front", "right", "top", "back", "left", "bottom"]
        //- div(class="box-face face-" + value)
        //- span= value
        //- span Some very very long content
        div.box
          div.box-face#face-top
            div.face-content
              span Top
            div.face-content
              span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit voluptatem ipsa, reprehenderit nobis incidunt facere perspiciatis officia perferendis accusantium consequatur beatae possimus adipisci quae odio impedit, molestias, illo itaque amet.
          div.box-face#face-bottom
          div.box-face#face-front
            div.face-content
              span Delete
          div.box-face#face-back
            div.face-content
              span You chose not to perform this action :(
          div.box-face#face-right
            div.face-content
              div.confirm-holder
                div.confirm
                  span Yes
                div.confirm
                  span No
          div.box-face#face-left
            div.face-content
              span Deleted
            div.face-content
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted

      div.box-holder.hidden
        //- each value in ["front", "right", "top", "back", "left", "bottom"]
        //- div(class="box-face face-" + value)
        //- span= value
        //- span Some very very long content
        div.box
          div.box-face#face-top
            div.face-content
              span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit voluptatem ipsa, reprehenderit nobis incidunt facere perspiciatis officia perferendis accusantium consequatur beatae possimus adipisci quae odio impedit, molestias, illo itaque amet.
          div.box-face#face-bottom
          div.box-face#face-front
            div.face-content
              span Delete
          div.box-face#face-back
            div.face-content
              span You chose not to perform this action :(
          div.box-face#face-right
            div.face-content
              div.confirm-holder
                div.confirm
                  span Yes
                div.confirm
                  span No
          div.box-face#face-left
            div.face-content
              span Deleted
            div.face-content
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted
              span Deleted



      div.control-holder.hidden
        div.control
          input(type="radio", name="face" value="face-front" checked)
          span Front
          input(type="radio", name="face" value="face-back" )
          span Back
          input(type="radio", name="face" value="face-right" )
          span Right
          input(type="radio", name="face" value="face-left" )
          span Left
          input(type="radio", name="face" value="face-top" )
          span Top
          input(type="radio", name="face" value="face-bottom" )
          span Bottom

views/Components/Button/cubeButton.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" type="text/css" href="../../../css/Components/Button/cubeButton.css"><script src="../../../js/Components/Button/buttonLoader.js"></script><script src="../../../js/Components/Button/cubeButton.js"></script><title>Cube Button</title></head><body><div class="container"><div class="box-holder"><div class="box"><div class="box-face" id="face-back"><div class="face-content"><div class="confirm-holder"><div class="confirm"><span>Yes</span></div><div class="confirm"><span>No</span></div></div></div></div><div class="box-face" id="face-right"><div class="face-content"><span>You did not delete :-(</span></div></div><div class="box-face" id="face-top"><div class="face-content"><span> </span></div></div><div class="box-face" id="face-left"><div class="face-content"><span>Deleted</span></div></div><div class="box-face" id="face-bottom"><div class="face-content"><span></span></div></div><div class="box-face" id="face-front"><div class="face-content"><span>Delete</span></div></div></div></div><div class="box-holder hidden"><div class="box"><div class="box-face" id="face-top"><div class="face-content"><span>Top</span></div><div class="face-content"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit voluptatem ipsa, reprehenderit nobis incidunt facere perspiciatis officia perferendis accusantium consequatur beatae possimus adipisci quae odio impedit, molestias, illo itaque amet.</span></div></div><div class="box-face" id="face-bottom"></div><div class="box-face" id="face-front"><div class="face-content"><span>Delete</span></div></div><div class="box-face" id="face-back"><div class="face-content"><span>You chose not to perform this action :(</span></div></div><div class="box-face" id="face-right"><div class="face-content"><div class="confirm-holder"><div class="confirm"><span>Yes</span></div><div class="confirm"><span>No</span></div></div></div></div><div class="box-face" id="face-left"><div class="face-content"><span>Deleted</span></div><div class="face-content"><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span></div></div></div></div><div class="box-holder hidden"><div class="box"><div class="box-face" id="face-top"><div class="face-content"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit voluptatem ipsa, reprehenderit nobis incidunt facere perspiciatis officia perferendis accusantium consequatur beatae possimus adipisci quae odio impedit, molestias, illo itaque amet.</span></div></div><div class="box-face" id="face-bottom"></div><div class="box-face" id="face-front"><div class="face-content"><span>Delete</span></div></div><div class="box-face" id="face-back"><div class="face-content"><span>You chose not to perform this action :(</span></div></div><div class="box-face" id="face-right"><div class="face-content"><div class="confirm-holder"><div class="confirm"><span>Yes</span></div><div class="confirm"><span>No</span></div></div></div></div><div class="box-face" id="face-left"><div class="face-content"><span>Deleted</span></div><div class="face-content"><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span><span>Deleted</span></div></div></div></div><div class="control-holder hidden"><div class="control"><input type="radio" name="face" value="face-front" checked><span>Front</span><input type="radio" name="face" value="face-back"><span>Back</span><input type="radio" name="face" value="face-right"><span>Right</span><input type="radio" name="face" value="face-left"><span>Left</span><input type="radio" name="face" value="face-top"><span>Top</span><input type="radio" name="face" value="face-bottom"><span>Bottom</span></div></div></div></body></html>
